<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 box-form">
    <br>
    <div class="row">
    <div class="col-md-6">
        <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Mês</span>
        <input type="number" class="form-control" placeholder="Digite o número do mês" id="mes"  [(ngModel)]="objeto.DAT_MES">
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Ano</span>
        <input type="number" class="form-control" placeholder="Digite o número do ano" style="width: 100%;"  [(ngModel)]="objeto.DAT_ANO">
        </div>
    </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-6">
        <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Produto</span>
        <select class="form-control"  name="selecao" (change)="changeProduto()" [(ngModel)]="objeto.COD_PRODUTO">
            <option value="" disabled selected>Selecione o Produto</option>
            <option *ngFor="let produto of produtosAtivos" value="{{produto.COD_PRODUTO}}">
                {{produto.DES_PRODUTO}}
              </option>
          </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Cosif</span>
        <select class="form-control" name="selecao" [(ngModel)]="objeto.COD_COSIF">
            <option value="" disabled selected>Selecione o Cosif</option>
            <option *ngFor="let cosifs of produtosCosif" value={{cosifs.COD_COSIF}}>
                {{cosifs.COD_COSIF}} - {{cosifs.COD_CLASSIFICACAO}}
              </option>
          </select>
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
        <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Valor</span>
        <input type="number" class="form-control" placeholder="Digite o valor" style="width: 100%;" [(ngModel)]="objeto.VAL_VALOR">
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Descrição</span>
            <textarea class="form-control" rows="3" [(ngModel)]="objeto.DES_DESCRICAO" placeholder="Digite a descrição"></textarea>
        </div>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12">
          <button type="button" class="btn btn-default pull-right" id="btnIncluir" (click)="incluir(objeto)"><span class="glyphicon glyphicon glyphicon glyphicon-check" aria-hidden="true"></span> Incluir</button>
          <button type="button" class="btn btn-default pull-right" style="margin-right: 15px;" (click)="novo()"><span class="glyphicon glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Novo</button>
          <button type="button" class="btn btn-default pull-right" style="margin-right: 15px;" id="btnLimpar" (click)="limparObjeto()"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Limpar</button>
      </div>
    </div>
    <br>
  </div>
  <div class="col-md-2"></div>
  
</div>
<br>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      <div class="table-responsive">
          <table class="table">
              <tr>
                  <td class="active">Mês</td>
                  <td class="active">Ano</td>
                  <td class="active">Código do Produto</td>
                  <td class="active">Descrição do Produto</td>
                  <td class="active">NR Lançamento</td>
                  <td class="active">Descrição</td>
                  <td class="active">Valor</td>
              </tr>

              <tr *ngFor="let movimento of movimentos">
                <td class="active">{{movimento.DAT_MES}}</td>
                <td class="active">{{movimento.DAT_ANO}}</td>
                <td class="active">{{movimento.COD_PRODUTO}}</td>
                <td class="active">{{movimento.DESC_PRODUTO}}</td>
                <td class="active">{{movimento.NUM_LANCAMENTO}}</td>
                <td class="active">{{movimento.DES_DESCRICAO}}</td>
                <td class="active">{{movimento.VAL_VALOR}}</td>
            </tr>
          </table>
        </div>
  </div>
  <div class="col-md-2"></div>
</div>
